body::after {
   content: '';
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.8s ease 0s;
   pointer-events: none;
   z-index: 149;
}
.popup-show body::after {
   opacity: 1;
}
.popup {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 30px 10px;
   transition: visibility 0.8s ease 0s;
   visibility: hidden;
   pointer-events: none;
}
.popup_show {
   z-index: 150;
   visibility: visible;
   overflow: auto;
   pointer-events: auto;
}
.popup_show .popup__content {
   visibility: visible;
   transform: scale(1);
}
.popup__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100%;
   flex: 1 1 auto;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup__content {
   visibility: hidden;
   transform: scale(0);
   transition: transform 0.3s ease 0s;
   padding: 20px;
   width: 100%;
   max-width: 900px;
   background: #ffffff;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
   border-radius: 50px;
   .lock & {
      visibility: visible;
   }
}

//========================================================================================================================================================

.popup-term-of-use {
   padding: rem(35) rem(15) rem(0) rem(15);
   max-width: 1200px;
   position: relative;
   &__block {
      margin-bottom: rem(30);
   }

   &__block-title {
      font-weight: 500;
      font-size: rem(22);
      color: #282828;
      margin-bottom: rem(15);
      &:first-child {
         max-width: 450px;
         @media (max-width: em(570)) {
            max-width: 220px;
         }
      }
   }

   &__block-text {
      font-size: 16px;
      color: #282828;
      line-height: 130%;
   }

   &__block-list {
      margin-top: rem(15);
   }

   &__block-item {
      font-size: 16px;
      color: #282828;
      display: flex;
      gap: 10px;
      line-height: 130%;
      &::before {
         flex: none;
         content: '';
         background-color: #000;
         width: 10px;
         height: 10px;
         display: block;
         border-radius: 50%;
         margin-top: 3px;
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   &__close-btn {
      position: absolute;
      top: 27px;
      right: 30px;
      background: transparent;
      &::before {
         color: #000;
         font-size: 24px;
      }
   }
}
//========================================================================================================================================================

.new-popup {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 80px 15px;
   overflow: auto;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1000;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease 0s;
   &._popup-open {
      transition: all 0.3s ease 0s;
      opacity: 1;
      visibility: visible;
   }
   &__body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-height: 100%;
      width: 100%;
   }

   &__content {
      position: relative;
      max-width: 690px;
      width: 100%;
      padding: 30px 0px 0px 0px;
      transform: scale(0);
      transition: all 0.3s ease 0s;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
      border-radius: 20px;
      ._popup-open & {
         transform: scale(1);
         transition: all 0.3s ease 0s;
      }
   }

   &__close-btn {
      position: absolute;
      right: -30px;
      top: -30px;
      @media (max-width: 991.98px) {
         right: 0;
         top: -40px;
      }
      background: transparent;
      &::before {
         color: #ffffff;
         font-size: 24px;
      }
   }
}

.connect-popup {
   .new-popup__content {
      max-width: 415px;
   }
   &__title {
      font-weight: 700;
      font-size: 35px;
      line-height: 112%;
      text-align: center;
      max-width: 300px;
      margin: auto;
      @media (max-width: 991.98px) {
         padding: 0px 20px;
         font-size: 25px;
      }
   }

   &__block {
      padding: 25px 20px;
      &:not(:last-child) {
         border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      p {
         font-size: 14px;
         text-align: center;
         opacity: 0.5;
         max-width: 300px;
         margin: auto;
         margin-top: 15px;
      }
   }

   &__btn {
      border-radius: 100px;
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      padding: 5px 10px;
      max-width: 300px;
      width: 100%;
      margin: auto;
      & > * {
         pointer-events: none;
      }
      img {
         flex: 0 0 30px;
      }
      span {
         font-size: 18px;
         color: #ffffff;
      }
      &_1 {
         background: #f4a15a;
      }

      &_2 {
         background: #5a99f8;
         padding: 9px 10px;
      }
   }
}

.how-to-buy-popup {
   .new-popup__content {
      padding: 0px 0px 0px 0px;
   }
   &__video {
      aspect-ratio: 16/9;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      iframe {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
   }
}
