@use 'sass:math';
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins.scss';
// Подключить если есть локальные файлы шрифтов
@import 'fonts/fonts';
// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
@import 'fonts/icons';
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Rubik';
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainColor: #282828; // Цвет шрифта по умолчанию
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1500;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';
// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
   // Скролл заблокирован
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   // Сайт загружен
   .loaded & {
      & .preloader {
         opacity: 0;
         visibility: hidden;
         transition: all 0.3s ease 0s;
      }
   }
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   // Прижимаем footer
   > main {
      flex: 1 1 auto;
   }
   // Фикс для слайдеров
   > * {
      min-width: 0;
   }
}
.wrapper-cabinet {
   background: #f8f8f8;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
@if ($responsiveType==1) {
   // Отзывчивая
   [class*='__container'] {
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
         margin: 0 auto;
      }
      @if ($containerPadding>0) {
         padding: 0 rem(math.div($containerPadding, 2));
      }
   }
} @else {
   // По брейк-поинтам
   [class*='__container'] {
      margin: 0 auto;
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
      } @else {
         @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
      @media (max-width: $pc) {
         max-width: rem(970);
      }
      @media (max-width: $tablet) {
         max-width: rem(750);
      }
      @media (max-width: $mobile) {
         max-width: none;
         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
   }
}
[class*='__container-small'] {
   max-width: rem(1110);
   margin: 0 auto;
}
[class*='__container-cabinet'] {
   max-width: rem(1710);
   margin: 0 auto;
}
// Подключение стилей общих элементов проекта
@import './base/popup.scss';
@import './base/select.scss';
@import './base/spollers.scss';
@import './base/swiper.scss';
@import './base/common.scss';

// Подключение компонентов
@import './components/header.scss';
@import './components/footer.scss';
@import './components/cabinet-header.scss';
@import './components/cabinet-footer.scss';
@import './components/cabinet-aside.scss';
@import './components/cabinet-home.scss';
@import './components/cabinet-partners.scss';
@import './components/cabinet-trade-in.scss';
@import './components/cabinet-reinvest.scss';
@import './components/cabinet-popup.scss';
@import './components/email-subscribe.scss';
@import './components/blogers.scss';
@import './components/loaders.scss';

// Подключение страниц
@import './pages/home.scss';
@import './pages/faq.scss';
@import './pages/regional.scss';
@import './pages/interest-scheme.scss';
@import './pages/banners.scss';
@import './pages/cabinet.scss';
